<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    <title>House Listings</title>

</head>
<body>


    <div class="container">

        <!-- Begin: exclude_from_email_2 -->
        <a href="/statistics" class="btn">Stats</a>
        <!-- Begin: end_exclude_from_email_2 -->


        <h1>House Listings</h1>

    
        <!-- Begin: exclude_from_email -->


        <div class="container-query">
            <div class="form-container">
                <form method="post">
                    <label for="query">Enter MongoDB Query:</label>
                    <textarea name="query" id="query" placeholder="e.g., {'city': 'Amsterdam', 'price': {'$lte': 1500}}" rows="4">{{ query_text }}</textarea>
                    <button type="submit">Submit Query</button>
                </form>
            </div>
        
            <!-- Example queries -->
            <div class="example-queries">
                <h3>Example Queries:</h3>
                <ul>
                    <li><a href="#" onclick="copyQuery({'city': {'$regex': 'Amsterdam'}, 'price': {'$lte': 1500}})">Houses in Amsterdam under €1500</a>
                    </li>
                    <li><a href="#" onclick="copyQuery({
                        'price': {'$gte': 1000, '$lte': 1800}, 
                        '$or': [
                            {'city': {'$regex': 'amsterdam', '$options': 'i'}},
                            {'address': {'$regex': 'amsterdam', '$options': 'i'}}
                            ],
                        'geodata.postcode': {'$regex': '^(1011|1012|1013|1014|1015|1016|1017|1018|1019|1051|1052|1053|1054|1055|1056|1057|1058|1059|1071|1072|1073|1074|1075|1076|1077|1078|1079|1091|1092|1093|1094|1095|1096|1097|1098)'}
                        })">Amsterdam ring under €1800</a>
                    </li>
                </li>
                </ul>
            </div>
        </div>
        
        <!-- End: end_exclude_from_email -->



<!-- JavaScript to copy the example queries -->
<script>
    function copyQuery(query) {
        document.getElementById('query').value = JSON.stringify(query);
    }
</script>



{% for house in houses %}
    <div class="house-container">
        <div class="text-column">
            <h2 class="house-title">House n: {{ house.house_n }}:</h2>
            <ul class="details">
                <li><strong>Address:</strong> {{ house.address }}</li>
                <li><strong>City:</strong> {{ house.city }}</li>
                <li><strong>Price:</strong> {{ house.price }} €</li>
                <li><strong>Status:</strong> {{ house.status }}</li>
                <li><strong>Details:</strong>
                    <ul>
                        {% for key, value in house.details.items() %}
                            <li>{{ key }}: {{ value }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li><strong>Link:</strong> <a class="house-link" href="{{ house.link }}">{{ house.link }}</a></li>
            </ul>
            <p>Posted: <span class="time-difference">{{ house.date }}</span></p>
        </div>
        <div class="image-column">
            <div class="image-map-container">
                <div class="image-container">
                    <img width="200" src="{{ house.images[0] }}" alt="House Image">
                </div>
                {% if house.geodata %}
                <div class="map-container">
                    <img width="200" src="https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=400&height=300&center=lonlat:{{ house.geodata.coordinates[0] }},{{ house.geodata.coordinates[1] }}&zoom=13&apiKey={{ api_key_geoapify }}&marker=lonlat:{{ house.geodata.coordinates[0] }},{{ house.geodata.coordinates[1] }}" alt="Map">
                </div>
                {% else %}
                <p>No geodata available for this house.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}





    </div>
</body>

<script src="static/scripts.js"></script>


</html>
